.page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.mainStack{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 60%;
    width: 40%;
    font-family: "San Frans", sans-serif;
}
.heading{
    font-size: 104px;
    font-weight: 800;
}
.subheading{
    font-size: 24px;
    font-weight: 700;
}