.window{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: mediumaquamarine;
    border-radius: 44px;
    width: 503px;
    height: 379px;
    font-family: "San Frans", sans-serif;
}

.bearImg{
    width: 120px;
    margin-top: 27px;
}

.logButton{
    outline: none;
    border-radius: 36px;
    border: 2px solid white;
    background-color: mediumaquamarine;
    color: white;
    margin-bottom: 16px;
    height: 40px;
    width: 121px;
}

.textField{
    outline: none;
    border: none;
    width: 70%;
    height: 30px;
    border-radius: 7px;
    box-shadow: 0 0 5px #555;
    font-weight: 700;
    font-size: 14px;
}

.link{
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    font-family: "San Frans", sans-serif;
    color: white;
}
.link:hover{
    text-decoration: none;
    color: #ddd;
    transition: .3s;
}
.activeLink{
    text-decoration: underline;
    color: white
}

.errorMessage{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    border: 2px solid #ee3333;
}

@media screen and (max-width: 540px){
    .window{
        width: 290px;
        height: 240px;
    }
    .bearImg{
        width: 60px
    }
    .textField{
        font-size: 12px;
        height: 20px;
    }
}